.Chat-main
  .Chat-main__group-info
    .main__group-name
      =@group.name
      .main__member
        Member:
        - @group.users .each do |user|
          = user.name
    .Group__edit-btn
      = link_to edit_group_path(@group.id), class: "edit-btn__info" do
        Edit
  .Chat-main__message
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Message__box"}, local: true do |f|
      .Message__box__content    
        = f.text_field :content, class: 'Message__text', placeholder: 'type a message'
        = f.label :image, class: 'Message__content' do
          = icon('far', 'image', class: 'box__image')
          = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Message__submit'

